@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1e1e1e;
  
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #0EA5E9;
  opacity: 0.5;
  transition: 0.3s;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #0ea4e9a4;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
